.signup-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
    background: #FFF5ED;
    min-height: 100vh;
}

.quote-box {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.quote-icon-img {
    width: 40px;
    height: auto;
    margin-bottom: 1rem;
}

.quote-text {
    font-size: 2.6rem;
    color: #0B090C;
    line-height: 1.6;
    font-family:"Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;


}

@keyframes blink {
    50% { opacity: 0; }
}

.quote-text::after {
    content: '|';
    animation: blink 1s step-start infinite;
    margin-left: 4px;
    color: #0B090C;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background: #FFC299;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 1.8rem;
    width: 500px;
    border-radius: 70px;

}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.8rem;
    gap: 0.6rem;
    width: 100%;
}

.text{
    color: #051961;
    font-size: 3rem;
    font-weight: 100;

}

.inputs{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.input {
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 5rem;
    margin: auto;
    box-sizing: border-box;
}

.input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #0B090C;
    outline: none;
    font-size: 1.2rem;
    color: #0B090C;
    padding: 0 0.5rem;

}

.input input:focus {
    border-bottom: 2px solid #CC5200;
}

.forgot-password{
    margin-top: 1.7rem;
    color: #201A23;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}

.forgot-password span{
    color: #CC5200;
    cursor: pointer;
}

.forgot-password span:hover {
    text-decoration: underline;
   
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #051961;
    color: aliceblue;
    width: 28rem;
    height: 5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    margin: 2rem;
    transition: background-color 0.4s ease-in-out;
    border-radius: 70px;

}    

.submit:hover{
    background-color: #030F3A;
}

